<link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png?v=ngjooeK8Pm">
<link rel="icon" type="image/png" sizes="32x32" href="/images/icons/favicon-32x32.png?v=ngjooeK8Pm">
<link rel="icon" type="image/png" sizes="16x16" href="/images/icons/favicon-16x16.png?v=ngjooeK8Pm">
<link rel="manifest" href="/images/icons/site.webmanifest?v=ngjooeK8Pm">
<link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg?v=ngjooeK8Pm" color="#f9c513">
<link rel="shortcut icon" href="/images/icons/favicon.ico?v=ngjooeK8Pm">
<meta name="msapplication-TileColor" content="#f9c513">
<meta name="msapplication-config" content="/images/icons/browserconfig.xml?v=ngjooeK8Pm">
<meta name="theme-color" content="#f9c513">