/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

/* Set site-wide subtle background pattern */
/* Background pattern from Toptal Subtle Patterns */
body {
	background: #fdfdfd; 
	/* For the grey pattern, use:
	url("/images/grey.png") */
}

/*  */
article, .home {
	background: #fdfdfd;
	/* White background and shadow for articles and home page
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	box-shadow: 0 3px 6px rgba(149,157,165,0.15) !important;
	padding: 20px 40px;*/
}

/* Reduce padding for mobile devices */
.wrapper {
	padding-right: 0px;
	padding-left: 0px;
}

@media screen and (max-width: 1200px) {
	article, .home {
		padding: 10px 15px;
	}
}

/* Header */
.site-header {
	border-top: 0;
	/*background-color: #FFCF52;*/
	background-color: #FEFEFE;
	font-family: Courier, Monaco, monospace;
}

.site-title img {
	width: 45px;
	margin-right: 15px;
}

/* Add skyline background at the bottom */
.page-content {
	/*background-image: url("/images/skyline_v2.png");
	background-size: 85%;
	background-repeat: no-repeat;
	background-position: center bottom;*/
	padding: 30px 0 10% 0;
}

/* Assign light grey to every table cell. Table header is defined in theme css. */
table td {
    background-color: #fdfdfd;
}

/* Tweaks to syntax highlighting */ 
.language-python + .language-plaintext {
	border-left: 2px solid #323443;
}

.language-python + .language-plaintext code {
	color: #515151;
}

.language-python + .language-plaintext .highlight {
	border-radius: 0px;
}

.highlight {
	border-radius: 6px;
}

pre, code {
	border: 0px;
}

/* Fix font size for index.html */
.home {
	font-size: 18px;
}

li .post-meta {
	font-size: 15px;
}

/* Reduce font size in normal text a bit */
.post-content p, .post-content li {
	font-size: 18px;
}

/* Change footer to play nicely with skyline */
.site-footer {
	background: #000;
	border-top: 0;
	padding: 45px 0;
}

.social-media-list li a {
    background: #ddd;
    border: 1px solid #bbb;
}

.site-footer a {
    color: #828282;
}