/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

.site-header {
	border-top: 0;
	background-color: #FFCF52;
	font-family: Courier, Monaco, monospace;
}

.page-content {
	background-image: url("/images/skyline_v2.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.site-footer {
	background: #000;
	border-top: 0;
	padding: 0px 0px 20px 0;
}

.social-media-list li a {
    background: #ddd;
    border: 1px solid #bbb;
}

.site-footer a {
    color: #828282;
}