// override defalt minima variables 

// width of the content area
// can be set as "px" or "%"
$content-width:    900px;
$on-palm:          800px;
$on-laptop:        900px;
$on-medium:        900px;
$on-large:         900px;
