/*-----------------------------------*/
/*--- IMPORT STYLES FOR FASTPAGES ---*/
@import "minima/fastpages-styles";   



/*-----------------------------------*/
/*----- ADD YOUR STYLES BELOW -------*/

// If you want to turn off dark background for syntax highlighting, comment or delete the below line.
@import "minima/fastpages-dracula-highlight"; 

/* Set site-wide subtle background pattern */
/* Background pattern from Toptal Subtle Patterns */
body {
	color: #191308 !important;
}

/* Reduce padding for mobile devices */
.wrapper {
	padding-right: 0px;
	padding-left: 0px;
}

@media screen and (max-width: 1200px) {
	article, .home {
		padding: 10px 15px;
	}
}

/* Header */
.site-header {
	border-top: 0;
}

.site-title {
	font-weight: 400 !important;
	letter-spacing: normal !important;
}

.site-title img {
	width: 45px;
	margin-right: 15px;
}

/* Add skyline background at the bottom */
.page-content {
	padding: 30px 0;
}

/* Assign light grey to every table cell. Table header is defined in theme css. */
table td {
    background-color: #fdfdfd;
}

/* Set text colors */
.home, .post-content p, .post-content li, #notebook-container {
	color: #191308; /*#515151;*/
}

pre, code {
	background-color: #E6EFE9;
}

p code, code {
	color: #0F7173;
}

/* Set link colors */

a, a:visited {
	color: #0F7173 !important;
	text-decoration: underline !important; 
}

a:hover {
	color: #0F7173 !important;
	text-decoration: none !important;
}

.section-nav li a {
	text-decoration: none !important;
}

a.category-tags-link {
	color: #C1292E !important;
	text-decoration: none !important;
}

.site-nav .page-link, a.site-title {
	color: #191308 !important;
}

.site-nav .page-link, a.site-title, a.post-link {
	text-decoration: none !important;
}

.site-nav .page-link:hover, a.site-title:hover, a.post-link:hover {
	text-decoration: underline !important;
}

.site-nav .page-link {
	font-size: 17px;
}


/* Tweaks to syntax highlighting */ 
.language-python + .language-plaintext {
	border-left: 2px solid #323443;
}

.language-python + .language-plaintext code {
	color: #515151;
}

.language-python + .language-plaintext .highlight {
	border-radius: 0px;
}

.highlight {
	border-radius: 6px;
}

pre, code {
	border: 0px;
}

/* Tweaks to font size etc.*/
li .post-meta {
	font-size: 15px;
}

h2 { margin-top: 3rem !important; }

h3, h4 { margin-top: 2.5rem !important; }

/* Reduce font size in normal text a bit */
.home, .post-content p, .post-content li, #notebook-container, p code, code {
	font-size: 17px !important;
}

.highlight pre, .highlight code {
	font-size: 17px !important;
}

.post figcaption {
	font-size: 0.9rem !important;
}

/* Fix vertical margins of lists */
ul, ol {
	margin-top: 1rem !important;
}

li ul, li ol {
	margin-top: 0rem !important;
}

/* Change footer to play nicely with skyline */
.site-footer {
	border-top: 0;
	padding: 45px 0;
}

.footer-col {
	text-align: center;
}

/* Social media links */

.social-media-list .svg-icon {
	width: 35px !important;
	height: 35px !important;
	padding: 0px !important;
	color: #585858;
}

.social-media-list .svg-icon:hover {
	color: #0F7173;
}

.social-media-list li {
	margin: 5px 20px 5px 0;
}

.social-media-list li a {
	background: none;
	border: none;
	padding: 0;
}

/* Define boxes */
.Toast {
	margin: 32px 16px !important;
}

.Toast-content, .Toast-content code {
	font-size: 85%;
}

.Toast--warning .Toast-icon {
	color: #fff !important;
	background-color: #C1292E !important; /* #e54000 brighter red */
}

.Toast--important .Toast-icon {
	color: #24292e !important;
	background-color: #f9c513 !important;
}

.Toast--tip .Toast-icon {
	background-color: #6BBF59 !important; /* #009600 punchy green */
}

/* Note */
.Toast-icon {
	color: #fff !important;
	background-color: #0F7173  !important; /* #0366d6 punchy blue */
}